@font-face {
  font-family: "Clone Udemy Text";
  src: url("/public/fonts/Udemy-Sans-Regular-v1.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Clone Udemy Text";
  src: url("/public/fonts/Udemy-Sans-Bold-v1.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
