@font-face {
  font-family: "Clone Udemy Text";
  src: url("/public/fonts/Udemy-Sans-Regular-v1.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Clone Udemy Text";
  src: url("/public/fonts/Udemy-Sans-Bold-v1.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*  16px * 62.5% = 10px, so 1rem = 10px */
:root {
  font-size: 62.5%;
  --image-size-large: 4.8rem;
  --image-size-medium: 4rem;
  --icon-size-medium: 2.4rem;
  
  --primary-color: rgb(45, 47, 49);
  --banner-dark-inverse-color: #c0c4fc;

  --font-sm: 1.4rem;
}

.ud-btn-large {
  height: var(--image-size-large);
}

.ud-btn-medium {
  height: var(--image-size-medium);
}

.ud-icon-large {
  height: var(--image-size-large);
  width: var(--image-size-large);
}

.ud-icon-medium {
  height: var(--icon-size-medium);
  width: var(--icon-size-medium);
}
